<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267876381202-3jf6jagpkotlnl4v03v0mm3gj8mn79bs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267876381202-3jf6jagpkotlnl4v03v0mm3gj8mn79bs</string>
	<key>API_KEY</key>
	<string>AIzaSyBTMnn1enkI01YBhWuT086j5nB2M-Redw4</string>
	<key>GCM_SENDER_ID</key>
	<string>267876381202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Leadconsultant.GroceryLists</string>
	<key>PROJECT_ID</key>
	<string>messagenow-f32d5</string>
	<key>STORAGE_BUCKET</key>
	<string>messagenow-f32d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267876381202:ios:2a7e377b023e7f2b895ecb</string>
</dict>
</plist>